{% extends "layout.html" %} {% block content %}
<div class="contents" style="padding-top: 20pt">
  <h1 style="color: white; padding-left: 3%">ものまね</h1>
</div>

<h5 style="padding-left: 3%; color: white; padding-top: 5%">サンプルを確認</h5>

<div class="dropdown" style="text-align: center; padding-top: 1%">
  <button
    type="button"
    class="btn btn-light dropdown-toggle"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    項目を選択してください
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" value="驚く声">驚く声</button></li>
    <li><button class="dropdown-item" value="予備1">予備1</button></li>
    <li><button class="dropdown-item" value="予備2">予備2</button></li>
  </ul>
</div>

<div class="audio" style="padding-top: 3%; text-align: center">
  <audio controls src="/static/sound/驚き_1.mp3">
    Your browser does not support the
    <code>audio</code> element.
  </audio>
</div>

<h5 style="padding-left: 3%; color: white; padding-top: 5%">録音してみよう</h5>

<p style="text-align: center; padding-top: 2%; color: white">
  ※ 録音後、音声ファイル(WAVファイル)がダウンロードできます。
</p>

<div class="text-center" , style="padding-top: 2%">
  <button
    class="btn btn-primary"
    onclick="startRecording(this);"
    style="width: 20%"
  >
    録音
  </button>
  <button
    class="btn btn-primary"
    onclick="stopRecording(this);"
    style="width: 20%"
    disabled="disabled"
  >
    停止
  </button>
</div>

<div class="text-center">
  <p style="padding-left: 3%; color: white; padding-top: 5%">
    録音ファイルは以下に表示されます。
  </p>
  <ul id="recordingslist" style="color: white"></ul>
</div>

<p style="padding-left: 3%; color: white; display: none">ステータス</p>
<pre id="log" style="display: none"></pre>

<div class="text-center" , style="padding-top: 5%">
  <a
    class="btn btn-danger"
    style="width: 20%"
    href="monomane_result"
    role="button"
    >結果を確認する</a
  >
</div>

<div class="text-center" , style="padding-top: 1%">
  <a class="btn btn-primary" style="width: 20%" href="/" role="button">戻る</a>
</div>
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"
  type="text/javascript"
></script>

<script>
  $(function () {
    $(".dropdown-menu .dropdown-item").click(function () {
      var visibleItem = $(".dropdown-toggle", $(this).closest(".dropdown"));
      visibleItem.text($(this).attr("value"));
    });
  });

  function __log(e, data) {
    log.innerHTML += e + " " + (data || "") + "\n";
  }

  var audio_context;
  var recorder;

  function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
    __log("Media stream created.");

    recorder = new Recorder(input);
    __log("Recorder initialised.");
  }

  function startRecording(button) {
    recorder && recorder.record();
    button.disabled = true;
    button.nextElementSibling.disabled = false;
    __log("Recording...");
  }

  function stopRecording(button) {
    recorder && recorder.stop();
    button.disabled = true;
    button.previousElementSibling.disabled = false;
    __log("Stopped recording.");

    createDownloadLink();
    recorder.clear();
  }

  function createDownloadLink() {
    recorder &&
      recorder.exportWAV(function (blob) {
        var url = URL.createObjectURL(blob);
        var li = document.createElement("li");
        var au = document.createElement("audio");
        var hf = document.createElement("a");

        au.controls = true;
        au.src = url;
        hf.href = url;
        hf.download = new Date().toISOString() + ".wav";
        hf.style = "color: yellow;";
        hf.innerHTML = hf.download;
        li.appendChild(au);
        li.appendChild(hf);
        recordingslist.appendChild(li);
      });
  }

  window.onload = function init() {
    try {
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia =
        navigator.getUserMedia || navigator.webkitGetUserMedia;
      window.URL = window.URL || window.webkitURL;

      audio_context = new AudioContext();
      __log("Audio context set up.");
      __log(
        "navigator.getUserMedia " +
          (navigator.getUserMedia ? "available." : "not present!")
      );
    } catch (e) {
      alert("No web audio support in this browser!");
    }

    navigator.getUserMedia({ audio: true }, startUserMedia, function (e) {
      __log("No live audio input: " + e);
    });
  };
</script>
<script src="/static/js/recorder.js"></script>

{% endblock %}
